description = "Header"
==
<div class="container px-3">
          <a href="{{ 'index' | page }}" class="navbar-brand pe-3">
            <img src="{{ 'assets/img/logo.svg' | theme }}" width="47" alt="Merokosis Logo">
            MeroKosis
          </a>
          <div id="navbarNav" class="offcanvas offcanvas-end">
            <div class="offcanvas-header border-bottom">
              <h5 class="offcanvas-title">Menu</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a href="#" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                  <a href="{{ 'contact'|page }}" class="nav-link {% if this.page.activeNavLink == 'contact' %}active{% endif %}">Contact</a>
                </li>
                <li class="nav-item">
                  <a href="{{ 'blog'|page }}" class="nav-link {% if this.page.activeNavLink == 'blog' %}active{% endif %}">Blog</a>
                </li>
              </ul>
            </div>
            <div class="offcanvas-header border-top">
              <a href="#"
                class="btn btn-primary w-100" target="_blank" rel="noopener">
                <i class="bx bx-user fs-4 lh-1 me-1"></i>
                &nbsp;Author
              </a>
            </div>
          </div>
          <div class="form-check form-switch mode-switch pe-lg-1 ms-auto me-4" data-bs-toggle="mode">
            <input type="checkbox" class="form-check-input" id="theme-mode">
            <label class="form-check-label d-none d-sm-block" for="theme-mode">Light</label>
            <label class="form-check-label d-none d-sm-block" for="theme-mode">Dark</label>
          </div>
          <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a href="#"
            class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" target="_blank" rel="noopener">
            <i class="bx bx-user fs-5 lh-1 me-1"></i>
            &nbsp;Author
          </a>
        </div>