description = "Core JS"
==
<script src="{{ 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' | theme }}"></script>
<script src="{{ 'assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' | theme }}"></script>
<script src="{{ 'assets/vendor/parallax-js/dist/parallax.min.js' | theme }}"></script>
<script src="{{ 'assets/vendor/jarallax/dist/jarallax.min.js' | theme }}"></script>
<script src="{{ 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' | theme }}"></script>
<script src="{{ 'assets/vendor/shufflejs/dist/shuffle.min.js' | theme }}"></script>
<script src="{{ 'assets/vendor/lightgallery/lightgallery.min.js' | theme }}"></script>
<script src="{{ 'assets/vendor/lightgallery/plugins/zoom/lg-zoom.min.js' | theme }}"></script>
<script src="{{ 'assets/vendor/lightgallery/plugins/fullscreen/lg-fullscreen.min.js' | theme }}"></script>
<script src="{{ 'assets/vendor/lightgallery/plugins/video/lg-video.min.js' | theme }}"></script>
<script src="{{ 'assets/vendor/swiper/swiper-bundle.min.js' | theme }}"></script>
<script src="{{ 'assets/js/theme.min.js' | theme }}"></script>
{% framework extras %}
{% scripts %}