description = "Core CSS"
==
<link rel="stylesheet" media="screen" href="{{ 'assets/vendor/boxicons/css/boxicons.min.css' | theme }}" />
<link rel="stylesheet" media="screen" href="{{ 'assets/vendor/lightgallery/css/lightgallery-bundle.min.css' | theme }}" />
<link rel="stylesheet" media="screen" href="{{ 'assets/vendor/swiper/swiper-bundle.min.css' | theme }}" />
<link rel="stylesheet" media="screen" href="{{ 'assets/css/theme.min.css' | theme }}">
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
{% styles %}