description = "Blog Layout"

[bloghubBase]
archiveAuthor = "blog"
archiveDate = "blog"
archiveTag = "blog"
authorUseSlugOnly = 0
date404OnInvalid = 1
date404OnEmpty = 1
tagAllowMultiple = 1
==
<!DOCTYPE html>
<html lang="en">
<head>
 {% partial 'site/meta' %}
</head>
<body>
 {% partial'site/pageloader' %}
 <main class="page-wrapper">
  {% partial'site/header' %}
  {% page %}
 </main>
 {% partial'site/footer' %}
 {% partial'site/blogsidebar' %}
 {% partial'site/backtotop' %}
 {% partial'site/scripts' %}
</body>
</html>