description = "Blog Layout"

==
<!DOCTYPE html>
<html lang="en">

  <head>
    {% partial 'meta' %}
    {% partial 'styles' %}
    {% partial 'page-loading' %}
  </head>
  <body>
    {% partial 'loading-spinner' %}
    <main class="page-wrapper">
      <header class="header navbar navbar-expand-lg bg-light shadow-sm shadow-dark-mode-none fixed-top">
        {% partial 'header' %}
      </header>
        {% page %}
    </main>
    {% partial 'footer' %}
    <button type="button" data-bs-toggle="offcanvas" data-bs-target="#blog-sidebar" aria-controls="blog-sidebar" class="btn btn-sm btn-primary fixed-bottom d-lg-none w-100 rounded-0">
      <i class='bx bx-sidebar fs-xl me-2'></i>
      Blog Menu
    </button>
    {% partial 'back-to-top' %}
    {% partial 'scripts' %}
  </body>

</html>