description = "Default Layout"
==
<!DOCTYPE html>
<html lang="en">

  <head>
    {% partial 'meta' %}
    {% partial 'styles' %}
    {% partial 'page-loading' %}
  </head>
  <body>
    {% partial 'loading-spinner' %}
    <main class="page-wrapper">
      <header class="header navbar navbar-expand-lg bg-light navbar-sticky">
        {% partial 'header' %}
      </header>
        {% page %}
    </main>
    {% partial 'footer' %}
    {% partial 'back-to-top' %}
    {% partial 'scripts' %}
  </body>

</html>